<%= form_with model: financial_account, url: (financial_account.persisted? ? [:account, financial_account] : [:account, @team, :financial_accounts]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
    <%= render 'shared/fields/text_field', method: :description %>
    <%= render 'shared/fields/super_select', method: :currency %>
    <%= render 'shared/fields/super_select', method: :account_type, choices: FinancialAccount.account_types.map { |name, _id| [name.humanize, name] } %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, financial_account], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @team, :financial_accounts], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
